//path
// $get-path-to-assets : "/careersadmin";
$get-path-to-assets : "";

//text-color
$main-color1: #FF3333;
$main-color2: #FFFFFF;
$main-color3: #1a1a27;
$main-color4: #1e1e2d;
$main-color5: #5B6670;
$main-color6: #13131b;
$main-color7: #9CA2A8;
$main-color8: #B3B9BD;
$main-color9: #E6E8EA;
$main-color10: #F6F7F8;
$main-color11: #EEEFF0;
$main-color12: #3CBC37;
$main-color13: rgba(91, 102, 112, 0.4);
$main-color14: rgba(91, 102, 112, 0.6);
$main-color15: rgba(0, 0, 0, 0.16);
$main-color16: rgba(0, 0, 0, 0.2);
$main-color17: #EA856A;
$main-color18: #E20000;
$main-color19: rgba(91, 102, 112, 0.15);
$main-color20: #007853;
$main-color21: #E6E7E9;
$main-color22: rgba(207, 51, 57, .6);

//slide
@import 'checkbox';

//slide
@import 'btn';

//slide
@import 'slide';

.form-control{
  color: #1a1a27;
  border: 1px solid #515151;
}